<ion-header>
  <ion-toolbar color="primary">
    <ion-title no-padding>
      <ion-grid>
        <ion-row>
          <ion-col class="header_left_icons" size="1">
            <div class="sideMenu">
              <ion-buttons class="back-button" slot="start">
                <ion-button (click)="closeModal()">
                  <ion-icon name="arrow-back" class="header-back-icon"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
          </ion-col>
          <ion-col class="header_search-Box-text" size="11">
            <ion-searchbar placeholder="Search"></ion-searchbar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="search-component">
  <ion-item lines="full" class="header-item">
    Recent Searches
  </ion-item>
  <ion-item lines="none" (click)="userProfile()">
    <img src="../../../assets/img/man.jpg" class="user-profile"/>
    <ion-label>
      Username
    </ion-label>
  </ion-item>
</ion-content>