.header-back-icon{
    margin-top:10px
}
.search-component{
    .header-item{
        font-weight: bold;
    }
    .user-profile{
        width: 25px; 
        height: 25px; 
        object-fit: cover; 
        border-radius: 50%; 
        margin-right: 10px;
    }
}