// .popover 
// {
//      height:25%; 
//      width: 100%; 
//      max-width: 100%;
// }
// .sc-ion-popover-ios-h{
//     --width:100%;
// }
.popover-content.sc-ion-popover-ios{
    width: 100%;
}
img
{
    max-width: 100%;
    border: 0;
    padding: 3px 0px;
}
