<!-- own post option -->

<!-- <ion-item lines="none">
    <ion-icon name="create" class="space"></ion-icon>
  Edit Post
</ion-item>
<ion-item lines="none">
    <ion-icon name="trash" class="space"></ion-icon>
  Delete Post
</ion-item> -->

<!-- friends post option -->

<ion-item lines="none" class="txt-size">
    <ion-icon name="eye" mode="md" class="space"></ion-icon>
  Hide this post
</ion-item>
<ion-item lines="none" class="txt-size">
    <ion-icon name="close" mode="md" class="space"></ion-icon>
  Block this user
</ion-item>

<!-- already friends -->

<!-- <ion-item lines="none">
    <ion-icon name="remove" mode="md" class="space"></ion-icon>
  Connected
</ion-item> -->
<ion-item lines="none" class="txt-size">
    <ion-icon name="remove" mode="md" class="space"></ion-icon>
  Remove Connection
</ion-item>

<!-- not friend -->

<!-- <ion-item lines="none">
    <ion-icon name="person-add" class="space"></ion-icon>
  Add to Network
</ion-item> -->

<!-- <ion-item lines="none">
    <ion-icon name="mail" class="space"></ion-icon>
  Send Message
</ion-item> -->