<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="md-home"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="mynetwork">
            <ion-icon name="md-contacts"></ion-icon>
            <ion-label>Network</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="directory">
            <fa-icon [icon]="['fas', 'address-book']" size="3x" class="icon"></fa-icon>
            <!-- <img src="../../assets/icon/book.png" class="menu-icon"/> -->
            <ion-label class="menu-label">Directory</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="messaging">
            <ion-icon name="md-text"></ion-icon>
            <ion-label>Messages</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="notification">
            <ion-icon name="ios-notifications-outline"></ion-icon>
            <ion-label>Notifications</ion-label>
        </ion-tab-button>

        

    </ion-tab-bar>

</ion-tabs>