.add_new_post{
    ion-icon{
        border: 2px solid;
        border-radius: 50%;
        background: #149466;
        color: #fff;
    }
}

.menu-icon{
    height: 30px; 
    width: 30px;
}

.menu-label{
    font-size: 10px; 
    margin-top: 0px; 
    margin-bottom: 0px;
}

.icon{
    font-size: 8px;
    padding-top: 5px;
    padding-bottom: 3px;
}
