<ion-header>
    <ion-toolbar color="primary" text-center>
      <ion-buttons slot="start">
        <ion-button fill="clear" class="btn-close" (click)="closeModal()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        Create Post
      </ion-title>
      <ion-buttons slot="end">
        <ion-button fill="clear" class="btn-close" (click)="submitWritePost()">
          POST
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content no-padding class="modal-createpost">
    <ion-card class="profile">
                <ion-row>
                    <ion-col size="2" class="pic">
                        <img [src]="user_url" class="profile-img" />
                    </ion-col>
                    <ion-col size="10" class="title">
                        <ion-label color="dark" ><b>{{username | titlecase}}</b></ion-label>
                    <br>
                    
                    <ion-button fill="clear" (click)="privacy()" class="btn">
                            <ion-icon name="globe" slot="start" mode="md"></ion-icon>
                             {{networkType}}
                    </ion-button>
                    </ion-col>
                </ion-row>
    </ion-card>
    <ion-row>
        <ion-col>
            <ion-textarea textarea [(ngModel)]="Message" type="text" class="box" placeholder="Say what is on your mind..." rows="10"></ion-textarea>
            </ion-col>
    </ion-row>

    <ion-card *ngIf="photoArea" class="photo-area">
      <img [src]="setPhotoArea" class="photo-area-img"/>
    </ion-card>

    <div *ngIf="videoArea" class="video-area">
        <ion-input placeholder="Enter Video Title" [(ngModel)]="VideoTitle" class="video-url-input"></ion-input>
    </div>
    
    <div *ngIf="videoArea" class="video-area">
      <ion-input placeholder="Enter Video URL here" [(ngModel)]="VideoURL" class="video-url-input"></ion-input>
    </div>

</ion-content>
<ion-footer class="footer-createpost">
    <div class="hr_line"></div>
    <ion-button fill="clear" expand="full" (click)="presentActionSheet()" class="btn-post">Add to your post</ion-button>
</ion-footer>