<ion-header>
    <ion-toolbar color="primary">
      <ion-title no-padding>
        <ion-grid>
          <ion-row>
            <ion-col class="header_left_icons" size="1">
              <div class="sideMenu">
                <ion-buttons class="back-button" slot="start">
                  <ion-button (click)="goToBack()">
                    <ion-icon name="arrow-back"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </div>
            </ion-col>
            <ion-col class="header_search-Box-text" size="11">
              <ion-text>Submission Guidelines</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

  <ion-text class="txt">Thank you for your interest in contributing to the New York City Writers Network official blog!</ion-text>
  <ion-text class="txt">Before you submit, please read below for information on what we’re looking for, and how to send us your work. We look forward to hearing from you.</ion-text>
  <h3>Here’s what we’re looking for:</h3>
  <ion-text class="txt">Any and all things of interest to writers and readers. News, interviews, listacles, reviews, how-to’s, tips, tricks and advice, and anything else useful, enlightening, and/or entertaining to our readership of writers and readers.</ion-text>
  <ion-text class="txt">As we grow and expand our website, we’re aiming to set a new standard and cultivate even better content than ever. We hope you’ll help us aim high! We’re open to hearing new concepts and ideas. In fact, we look forward to it.</ion-text>
  <h3>A few stylistic notes:​</h3>
  <li class="bullet">We prefer posts to remain between 600 and 800 words, though we do make exceptions when necessary.</li>
  <li class="bullet">We love accompanying photos, but they must be original.</li>
  <li class="bullet">Please include links in articles when necessary and/or relevant to readers. Links to sites, products, ideas, and other mentions in articles are always helpful.​</li>
  <li class="bullet">Articles should be written in blog style; short paragraphs, single spaces. Sub-headings throughout are appreciated!​</li>
  <h3>Compensation:</h3>
  <ion-text class="txt">While we offer compensation for work, we ask writers to understand that we are a very small organization, therefore our rates are modest. However, we love you, we need you, and most of all, we appreciate you! We will do our best to share your writing with an audience that appreciates you as well!</ion-text>
  <ion-text class="txt">We pay writers between $15 and $20 per article.</ion-text>
  <h3>A couple more things:</h3>
  <li class="bullet">Please note that we maintain exclusive rights to all work we publish for 31 days after publication. Please do not re-publish work elsewhere in that period. After 31 days, you may re-publish work elsewhere, but NYCWN must be credited as original source of publication.​</li>
  <li class="bullet">Do not follow up with us after you submit. We’ll get back to you within 6 weeks if your article is chosen for publication.​</li>
  <li class="bullet">We accept simultaneous submissions but please tell us if the article you’ve submitted to us for consideration is accepted or is being published elsewhere.</li>
  <li class="bullet">If you have multiple articles you would like us to consider, please submit them separately.​</li>
  <li class="bullet">We maintain the right to make small changes to any work that we deem necessary. Changes will almost always be minor revisions, corrections of typos, etc. However, please edit your work as best you can before submission. Work that needs heavy editorial work will not be accepted.</li>
  <h3>If you’ve gotten this far, you’re ready to submit! We look forward to reading your work!</h3>

</ion-content>
