<ion-header>
  <ion-toolbar>
    <ion-title>Email Verification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row>
      <h2>User Registered</h2>
      <p>Your account has been created. An activation link has been sent to the email address you provided, click on the link to logon to your account.</p>
      <!-- <ion-button color="primary" (click)="resendEmail()">Resend Email</ion-button> -->
      <ion-button color="primary" (click)="backtoLogin()">Back to Login</ion-button>
    </ion-row>
</ion-content>
