<ion-header>
    <ion-toolbar color="transparent">
        <ion-buttons slot="start" class="back-btn-clr">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title  class="back-btn-clr">Forgot Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding fullscreen>
    <ion-row>
        <ion-col class="logo">
            <img src="../../assets/img/send-email.png" height="150px">
        </ion-col>
    </ion-row>
    <form class="list-form" [formGroup]="fp_form" autocomplete="off">
        <ion-grid>
            <ion-row>
                <ion-item no-padding lines="none">
                    Enter your email address to receive link for Create a New Password
                </ion-item>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-item no-padding>
                    <ion-label position="floating" class="login-text-white">
                        EMAIL ADDRESS
                    </ion-label>
                    <ion-input type="email" formControlName="email" class="login-text-white"></ion-input>
                </ion-item>
                <ion-item no-padding lines="none" class="validator-error" *ngIf="fp_form.controls.email.hasError('required') && fp_form.controls.email.touched">
                    <p>Email Address is required!</p>
                </ion-item>
                <ion-item no-padding lines="none" class="validator-error" *ngIf="fp_form.controls.email.hasError('pattern') && fp_form.controls.email.touched">
                    <p>Please Enter a Valid Email Address!</p>
                </ion-item>
            </ion-row>
        </ion-grid>
        <ion-footer>
            <div class="footer-btn">
                <ion-button class="login-button" tappable expand="full" shape="round" type="submit" fill="outline" (click)="Sendemail()" >SEND EMAIL</ion-button>
                <!-- [disabled]="!fp_form.valid" --> 
            </div>
        </ion-footer>

    </form>
</ion-content>