.back-btn-clr{
    color: white;
}
.logo{
    text-align: center;
}
.footer-btn{
    margin-top: 50px;
}
ion-content {
    --ion-background-color: linear-gradient(to bottom left, #28B478 25%, #0E2E22 100%);
}
.header-ios ion-toolbar:last-child {
    --border-width: 0 0 0 0px;
}
:host{
    .login-button{
    --background: mediumseagreen;
    color: white;
}
}
:host {
    ion-item {
        width: 100%;
        color: #fff;
        --ion-background-color: none;
    }
    .item-native {
        padding-left: 0px;
    }
    ion-item.validator-error {
        border-bottom: none !important;
    }
}

.login-forgot-btn {
    color: #fff;
}

.validator-error {
    p {
        color: #ad1616;
    }
}
