<ion-header>
  <ion-toolbar color="primary">
    <ion-title no-padding>
      <ion-grid>
        <ion-row>
          <ion-col class="header_left_icons" size="1">
            <div class="sideMenu">
              <ion-buttons class="back-button" slot="start">
                <ion-button (click)="goToBack()">
                  <ion-icon name="arrow-back"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
          </ion-col>
          <ion-col class="header_search-Box-text" size="11">
            <ion-text>Edit Account</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="page-edit-account">

    <form class="list-form" autocomplete="off">
        <ion-grid>
          <ion-row>
            <ion-item no-padding>
                <ion-icon name="person" slot="start" class="login-icon"></ion-icon>
              <ion-label position="floating" class="login-text-white">
                USER NAME
              </ion-label>
              <ion-input type="text" class="login-input"></ion-input>
            </ion-item>
            <!-- <ion-item no-padding lines="none" class="validator-error">
              <p>Username is required!</p>
            </ion-item>
            <ion-item no-padding lines="none" class="validator-error">
              <p>Please Enter a Valid Email!</p>
            </ion-item> -->
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-item no-padding>
                <ion-icon name="mail" mode="ios" slot="start" class="login-icon"></ion-icon>
              <ion-label position="floating" class="login-text-white">
                EMAIL
              </ion-label>
              <ion-input type="email" class="login-input"></ion-input>
            </ion-item>
            <!-- <ion-item no-padding lines="none" class="validator-error">
              <p>Email Address is required!</p>
            </ion-item>
            <ion-item no-padding lines="none" class="validator-error">
              <p>Please Enter a Valid Email Address!</p>
            </ion-item> -->
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-item no-padding>
                <ion-icon name="unlock" mode="ios" slot="start" class="login-icon"></ion-icon>
              <ion-label position="floating" class="login-text-white">
                CHANGE PASSWORD
              </ion-label>
              <ion-input type="password" class="login-input"></ion-input>
            </ion-item>
            <!-- <ion-item no-padding lines="none" class="validator-error">
              <p>Password is required!</p>
            </ion-item> -->
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-item no-padding>
                <ion-icon name="unlock" mode="ios" slot="start" class="login-icon"></ion-icon>
              <ion-label position="floating" class="login-text-white">
                VERIFY PASSWORD
              </ion-label>
              <ion-input type="password" class="login-input"></ion-input>
            </ion-item>
            <!-- <ion-item no-padding lines="none" class="validator-error">
              <p>Confirm Password is required!</p>
            </ion-item>
            <ion-item no-padding lines="none" class="validator-error">
                <p>The passwords you submitted do not match.</p>
              </ion-item> -->
          </ion-row>
        </ion-grid>
        <ion-footer>
          <div>
            <ion-button class="login-button" tappable expand="full" shape="round" type="submit">
                <!-- [disabled]="!signup_form.valid" -->
              Save
            </ion-button>
          </div>
        </ion-footer>
      </form>

</ion-content>
