.clr-toolbar{
    color: white;
}

.header-ios ion-toolbar:last-child {
    --border-width: 0 0 0 0px;
}

:host{
    ion-item{
        width: 100%;
        color: #fff;
        --ion-background-color: none;   
    }
    .item-native{
        padding-left: 0px;
    }
    ion-item.validator-error{
        border-bottom:none !important;
    }
    
}

.checkbox_label{
    white-space: normal !important;
    max-width: none !important;
    width: 100%;
    font-size: 13px;
    padding-left: 8%;
    color: #fff;
    a{
        color: #fff;
    }
}